* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}

/* CENTER CARD */
.container {
  width: 360px;

  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* TITLE */
.container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

/* INPUTS */
input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #1877f2;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: green;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: green;
}

/* LINK TEXT */
p {
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #1877f2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  background: white;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #1877f2;
}